init.author.name=hieudoanm
init.author.email=hieumdoan@gmail.com
init.author.url=https://hieudoanm.github.io
init.license=MIT
init.version=0.0.1
loglevel=silly

//npm.pkg.github.com/:_authToken=${NODE_TOKEN}
@hieudoanm:registry=https://npm.pkg.github.com
